#color2{
    background: rgb(61, 59, 59);
}


#margen{
    margin: 0% 10% 0% 10%;
    margin-right: 5%;
    background: rgb(47, 255, 255);
}
#margen2{
    margin-left: 10%;
    margin-right: 5%;
    background: rgb(255, 251, 0);
}



a{
    color: aliceblue;
}

#menu{
    padding-top: 2%;
    float: left;
  
}

#relleno{
    padding-top: 1%;
    
    margin: 0% 0% 0% 20%;
    background: aqua;
    border: 1px solid aqua;
    width: 80%;
}

#relleno2{
    margin: 0% 0% 0% 20%;
    background: rgb(218, 231, 33);   
    padding-top: 1%;
    border: 1px solid  rgb(218, 231, 33);
    width: 80%;
}

#relleno3{
    margin: 0% 0% 0% 20%;
    background: orange;   
    padding-top: 1%;
    border: 1px solid  orange;
    width: 80%;
    
}

#relleno4{
    margin: 0% 0% 0% 20%;
    background: red;   
    padding-top: 1%;
    border: 1px solid red; 
    width: 80%;
}
a:hover{
color:rgb(150, 139, 131);
cursor: pointer;
}
#rellenoTitulo{
    
    background: red;   
    border: 1px solid red; 
    width: 100%;

}